<!DOCTYPE html>
<html>
    <head>
        <title>Web D</title>
        <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>
    <body class = "bg-primary text-white">
        <nav class = "navbar navbar-expand-md navbar-dark bg-dark py-3">
            <div class = "container">
                <a href = "index.html" class = "navbar-brand">
                    <h3 class = "d-inline align-middle">Travery Media</h3>
                </a>
            </div>
        </nav>
        <div class = "container">
        {{{body}}}
        </div>
    </body>
</html>